/* CARD */

$fuente_card:"Montserrat";
$color_subrayado_card:pink;
$bg_color_card:black;
$tipografia_color:#fff;


/* BACKGROUND */

$bg-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC";
$bg-width: 50px;
$bg-height: 50px;


/* CARRUSEL */

$titulo_card_carrusel_color:pink;
$texto_descripcion_carrusel_color:grey;


/* HEADER */

$color_top_header:#272727;

/* PROYECTOS */

$border_color:black;
$fuente_proyectos: 400 36px/1.5 "Exo", sans-serif;
